<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.peace.jetpack"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name=".livedata.LiveDataMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".livedata.LiveDataChildActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".livedata.ext.LiveDataExtChildActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".livedata.ext.LiveDataExtMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".lifecycle.LifeCycleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".lifecycle.LifeCycleChildActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".navigation.NaviActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".navigation.ext.NaviExtActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".navigation.ext.NaviBottomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".navigation.ext.NaviMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".navigation.ext.NaviDrawerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".navigation.deeplink.DeepLinkActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/deep_link"/>
        </activity>
        <activity android:name=".viewmodel.ViewModelActivity">
        </activity>

        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="remove">
            <meta-data android:name="me.peace.jetpack.startup.LoggerInitializer"
                android:value="androidx.startup"
                />
        </provider>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"
            android:exported="false" />

    <!--    <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="me.peace.jetpack.startup.LoggerInitializer"
                android:value="androidx.startup"
                />
        </provider>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"
            android:exported="false" />-->
    </application>
</manifest>
