<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.peace.jetpack">

    <application>
        <activity android:name=".livedata.LiveDataMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".livedata.LiveDataChildActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".livedata.ext.LiveDataExtChildActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".livedata.ext.LiveDataExtMainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
